.navBar {
  display: flex; /* Aktiviert Flexbox */
  justify-content: space-between; /* Verteilt Links nach links und rechts */
  align-items: center;
  background-color: #2196f3;
  box-shadow: 1px 1px 10px gray;
  padding: 10px;
}
.navLinkExtra {
  margin-bottom: 10px;
}
.navLink {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid rgb(25, 5, 203);
  color: rgb(25, 5, 203);
  border-radius: 5px;
  text-decoration: none;
}

.active {
  border-color: rgb(179, 77, 128);
  color: rgb(196, 38, 117);
}
.loginNavLink {
  margin-left: auto; /* Schiebt den Link nach rechts */
  padding: 5px;
  border: 1px solid rgb(11, 85, 197);
  color: rgb(11, 85, 197);
  border-radius: 5px;
  text-decoration: none;
}
